* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    background-color: #141313; /* Fondo morado oscuro */
}

.container {
    padding: 20px;
    background-color: #5a5a5a;
    border-radius: 8px;
    box-shadow: 0 20px 60px rgba(164, 29, 198, 0.5);
    margin-top: 100px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.titulo {
    font-size: 2em;
    color: #ffffff; 
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.descripcion {
    font-size: 1.1em;
    color: #f1f1f1;
    margin-bottom: 25px;
    font-weight: lighter;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #8A3F7F;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.table .table-header {
    background-color: #8A3F7F; 
    color: #ffffff; 
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #8A3F7F; 
    font-size: 14px;
    text-transform: uppercase;
}

.table .table-data {
    padding: 10px;
    border: 1px solid #8A3F7F; 
    text-align: center;
    color: #ffffff;
    font-weight: lighter;
}

.table-data:nth-child(even) {
    background-color: #292929;
}
.table-data:nth-child(odd) {
    background-color: #333333;
}

.link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.link:hover {
    color: #8A3F7F; 
    text-decoration: underline;
}

/* Botón personalizado */
.btn-custom {
    height: 60px;
    background-color: #8A3F7F;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #8A3F7F;
}